<div class = "form-container">
    <header class="form-header">
        <h1>
            Log in <Form>
                
            </Form>
        </h1>
    </header>
    <form id="login form" class="form-grid-login" method="POST" action="/users/login"
     enctype="application/x-www-form-urlencoded">
     <label class="tags log-lbl-usname" for="username">Username</label>
     <input class="text-input log-input-uname" id="username" type="text"
     placeholder="Username" required name="username">

     <label class="tags log-lbl-passwd" for="passwd">Password</label>
     <input class="text-input log-input-passwd" id="passwd" type="text"
     placeholder="Password" required name="password">

      
                    <input type="submit" value="Submit" id="sub">
                    <h3>No account? <a href="registration"> Register Here Now</a></h3>
            </form>
  

     </form>
     </div>


</div>
